<ul class="text-gray-400 fixed top-5 right-5 z-50 flex gap-2 text-lg">
	<a
		class="hover:text-white"
		href="https://www.linkedin.com/in/bsmq/"
		target="_blank"
	>
		<i class="bx bxl-linkedin-square"></i>
	</a>
	<a
		class="hover:text-white"
		href="https://github.com/bsquiroz"
		target="_blank"
	>
		<i class="bx bxl-github"></i>
	</a>
	<a
		class="hover:text-white"
		href="https://stivenquiroz.netlify.app"
		target="_blank"
	>
		<i class="bx bx-user"></i>
	</a>
</ul>
