---
import LibraryIcon from "@/icons/Library.astro";
import HomeIcon from "@/icons/Home.astro";
import SearchIcon from "@/icons/Search.astro";

import SideMenuItem from "@/components/Astro/AsideMenu/components/SideMenuItem.astro";
import SideMenuCard from "@/components/Astro/AsideMenu/components/SideMenuCard.astro";

import { playlists } from "@/lib/data";
---

<aside
	class="hidden md:block [grid-area:aside] rounded-lg overflow-y-auto scroll-style"
>
	<nav class="flex flex-col gap-2 min-h-full">
		<div class="bg-zinc-900 rounded-lg p-2">
			<ul class="flex flex-col gap-5 p-2">
				<SideMenuItem href="/">
					<HomeIcon />
					 Home
				</SideMenuItem>

				<SideMenuItem href="/#">
					<SearchIcon />
					 Search
				</SideMenuItem>
			</ul>
		</div>

		<div class="bg-zinc-900 rounded-lg p-2 flex-1">
			<ul>
				<SideMenuItem href="/#">
					<LibraryIcon />
					 Your librery
				</SideMenuItem>

				<section class="pt-2">
					{
						playlists.map((playlist) => (
							<SideMenuCard playList={playlist} />
						))
					}
				</section>
			</ul>
		</div>
	</nav>
</aside>
