---
interface Props {
	href?: string;
}

const { href } = Astro.props;
---

<li>
	<a
		class="flex justify-center gap-4 md:pl-5 md:justify-start font-normal text-zinc-400 hover:text-zinc-100 items-center transition duration-200"
		href={href}
	>
		<slot />
	</a>
</li>
