---
import { playlists } from "@/lib/data";
import PlayListItemCard from "@/components/Astro/MainLibrary/components/PlayListItemCard.astro";
import Layout from "@/layouts/Layout.astro";
import Greetings from "@/components/Svelte/Greetings.svelte";
import { Overlay } from "@/components/React/Overlay";
import { ItemMyLibrary } from "@/components/React/ItemMyLibrary";
---

<Layout title="BSpotify">
	<section id="playlist-container" class="relative rounded-lg">
		<!-- PageHeader -->

		<div class="relative z-10 px-6 pt-10 flex flex-col gap-4">
			<Greetings />
			<h2 class="text-xl font-bold">Your library</h2>

			<div class="templateColumnsLibrary">
				{
					playlists.map((playlist) => (
						<ItemMyLibrary playList={playlist} client:load />
					))
				}
			</div>

			<h2 class="text-xl font-bold">For you</h2>
			<div class="flex flex-wrap gap-4">
				{
					playlists.map((playlist) => (
						<PlayListItemCard playList={playlist} />
					))
				}
			</div>
		</div>

		<Overlay client:load />
	</section>
</Layout>
